<div class="form-container">
  <form [formGroup]="signup" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input
        type="text"
        id="firstName"
        placeholder="First Name"
        formControlName="firstName"
      />
      <span class="alert" *ngIf="firstName.invalid && firstName.touched"
        >Please enter your first name</span
      >
    </div>
    
    <div class="input-group">
      <input
        type="text"
        id="lastName"
        placeholder="Last Name"
        formControlName="lastName"
      />
      <span class="alert" *ngIf="lastName.invalid && lastName.touched">Please enter your last name</span>
    </div>

    <div class="input-group">
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <span class="alert" *ngIf="email.invalid && email.touched && !email.errors['existingCustomer'] && !email.value">Please enter an email address</span>
      <span class="alert" *ngIf="email.invalid && email.touched && email.errors['email']">Email address is invalid</span>
      <span class="alert" *ngIf="email.invalid && email.touched && email.errors['existingCustomer']">You've already signed up!</span>
    </div>

    <div class="input-group">
      <input
        type="number"
        id="quantity"
        placeholder="Quantity"
        formControlName="quantity"
      />
      <span class="alert" *ngIf="quantity.invalid && quantity.touched && !quantity.value">Please enter a quantity</span>      
      <span class="alert" *ngIf="quantity.invalid && quantity.touched && quantity.errors['min']">You must add at least 2</span>
      <span class="alert" *ngIf="quantity.invalid && quantity.touched && quantity.errors['max']">You may add no more than 20</span>
    </div>

    <div class="input-group">
      <textarea
        id="message"
        placeholder="Message"
        formControlName="message"
      ></textarea>
      <span class="alert" *ngIf="message.invalid && message.touched && !message.value">Please enter a helpful message</span>
      <span class="alert" *ngIf="message.invalid && message.touched && message.errors['minlength']">Message is less than 10 characters</span>
    </div>

    <button [disabled]="signup.invalid" type="submit">Submit</button>
  </form>
</div>
